body {
 width: 100vw;
 height: 100vh;
}
.App {
  text-align: center;
}

.square{
  background-color: cadetblue;
  color:#fff;
  width:8rem;
  height: 8rem;
  font-size:5rem;
  border:white solid 1px;
}

.board{
  display:grid;
  place-items:center;
  margin-top: 300px;

}
.board-row{
  display: flex;
}