body {
 width: 100vw;
 height: 100vh;
}
.App {
  text-align: center;
}

.square{
  background-color: grey;
  color:#fff;
  width:5rem;
  height: 5rem;
}

.board{
  display:grid;
  place-items:center;

}
.board-row{
  display: flex;
}